.reg-container,.login-container{
    display: flex;
    margin-top:2rem;
    
}
.reg-left,.login-left{
    
    margin-left: 5rem;
    width: 50%;
}
.reg-right,.login-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50%;
    padding:1rem;
    background-color: rgb(18, 36, 56);
    border-radius: 20px;
    
    border: 0.2rem solid orange;
    
}
h1{
    color: rgb(186, 14, 248);

}
.form-details,.login-form{
    color:rgb(164, 23, 235);
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    
    padding-top:1rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;

   
    & input{
        font-size: large;
        height: 3rem;
        padding-left: 0.2rem;
      
        text-transform: capitalize;
        background-color: transparent;
        border-radius: 0.3rem;
        border:1px solid rgba(134, 6, 240, 0.879);
        margin-top:0.5rem;
        color: white;
        
    }
    & textarea {
        font-size: large;
        padding-left: 0.2rem;
      
        text-transform: capitalize;
        background-color: transparent;
        border-radius: 0.3rem;
        border:1px solid rgba(134, 6, 240, 0.879);
        margin-top:0.5rem;
        color: white;
    }
}

button{
    margin:1rem;
    background-color: blueviolet;
    font-size: large;
    padding:1rem;
    padding: 0.3rem;
    border-radius: 0.4rem;
    border-color:transparent;
    letter-spacing: 0.2rem;
  
}
@media (max-width:900px) {
    .reg-container,.login-container{
        display: flex;
        margin-top:2rem;
        flex-direction: column;
        
    }
    .reg-left,.login-left{
    
        margin-left: 0rem;
    
    }
    .reg-right{
        display: block;
        overflow: hidden;
    }
}
@media (max-width:750px){
    .reg-right{
        display:inline;
        width: fit-content;
    }
}
.google-map{
    margin: 2rem;
    width: 500%;
}
